In [1]:
import pandas as pd

In [2]:
vine_review_df = pd.read_csv('vine_table.csv', sep = ',')
vine_review_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R35T75OLUGHL5C,4.0,0.0,0.0,N,Y
1,R2BV735O46BN33,5.0,0.0,0.0,N,Y
2,R2NBEUGPQQGXP1,4.0,0.0,0.0,N,Y
3,R17LLAOJ8ITK0S,3.0,1.0,1.0,N,Y
4,R39PEQBT5ISEF4,1.0,0.0,0.0,N,Y
...,...,...,...,...,...,...
2302396,R2LQD2IV5ZWF7G,5.0,34.0,35.0,N,N
2302397,R2XLPTZ391M3PM,5.0,165.0,167.0,N,N
2302398,R1BRPTHYOJF9NC,5.0,30.0,32.0,N,N
2302399,R3LJVE6YICJOHI,5.0,28.0,31.0,N,N
2302400,RPJDYNNK1AMKT,5.0,0.0,0.0,N,N

In [3]:
vine_review_votes_df = vine_review_df[vine_review_df['total_votes'] >= 20]
vine_review_votes_df.count()

review_id            43574
star_rating          43574
helpful_votes        43574
total_votes          43574
vine                 43574
verified_purchase    43574
dtype: int64

In [4]:
vine_review_votes_calc_df = vine_review_votes_df[vine_review_votes_df['helpful_votes']/vine_review_votes_df['total_votes'] >= 0.5]
vine_review_votes_calc_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
65,R2FP3U4NHNFNL2,5.0,25.0,29.0,N,Y
159,R1UUK1977O38MU,5.0,31.0,31.0,N,Y
603,RXO216LWUDV6O,3.0,29.0,31.0,N,Y
655,R3NMJF7EBMM19V,3.0,26.0,27.0,N,Y
935,R2ZY0ZBDUO0XUY,3.0,20.0,21.0,N,Y
...,...,...,...,...,...,...
2302394,R1V5B0I8WCU88G,5.0,327.0,339.0,N,N
2302396,R2LQD2IV5ZWF7G,5.0,34.0,35.0,N,N
2302397,R2XLPTZ391M3PM,5.0,165.0,167.0,N,N
2302398,R1BRPTHYOJF9NC,5.0,30.0,32.0,N,N
2302399,R3LJVE6YICJOHI,5.0,28.0,31.0,N,N

In [5]:
vine_review_Y_df = vine_review_votes_calc_df[vine_review_votes_calc_df['vine'] == 'Y']
vine_review_Y_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
30395,R3KPC0NBUDASX3,5.0,25.0,25.0,Y,N
206171,R119P2A95GGXX4,5.0,26.0,28.0,Y,N
222172,R1HKIRME8AJ89Z,5.0,79.0,82.0,Y,N
281437,R3FY3GMBGOBR22,5.0,12.0,20.0,Y,N
287862,R15KH3FBSVYGBU,5.0,32.0,37.0,Y,N
...,...,...,...,...,...,...
2224140,R2S53VJNNBFALC,4.0,38.0,40.0,Y,N
2225611,R1WK162P6URAST,3.0,16.0,28.0,Y,N
2228972,R2YE59X5KUPARP,5.0,44.0,45.0,Y,N
2232328,RU38RYOL77OVU,4.0,46.0,49.0,Y,N
2232911,R1V6AIVQ232LYH,4.0,57.0,59.0,Y,N

In [7]:
vine_review_Y = vine_review_Y_df['review_id'].count()
vine_review_Y

107

In [6]:
vine_review_N_df = vine_review_votes_calc_df[vine_review_votes_calc_df['vine'] == 'N']
vine_review_N_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
65,R2FP3U4NHNFNL2,5.0,25.0,29.0,N,Y
159,R1UUK1977O38MU,5.0,31.0,31.0,N,Y
603,RXO216LWUDV6O,3.0,29.0,31.0,N,Y
655,R3NMJF7EBMM19V,3.0,26.0,27.0,N,Y
935,R2ZY0ZBDUO0XUY,3.0,20.0,21.0,N,Y
...,...,...,...,...,...,...
2302394,R1V5B0I8WCU88G,5.0,327.0,339.0,N,N
2302396,R2LQD2IV5ZWF7G,5.0,34.0,35.0,N,N
2302397,R2XLPTZ391M3PM,5.0,165.0,167.0,N,N
2302398,R1BRPTHYOJF9NC,5.0,30.0,32.0,N,N
2302399,R3LJVE6YICJOHI,5.0,28.0,31.0,N,N

In [8]:
vine_review_N = vine_review_N_df['review_id'].count()
vine_review_N

39869

In [9]:
vine_review_Y_fivestar = len(vine_review_Y_df[vine_review_Y_df['star_rating'] == 5.0])
vine_review_Y_fivestar

56

In [10]:
vine_review_N_fivestar = len(vine_review_N_df[vine_review_N_df['star_rating'] == 5.0])
vine_review_N_fivestar

21005

In [11]:
fivestar_Y_perc = ((vine_review_Y_fivestar/vine_review_Y) * 100).astype(str) + '%'
fivestar_Y_perc

'52.336448598130836%'

In [12]:
fivestar_N_perc = ((vine_review_N_fivestar/vine_review_N) * 100).astype(str) + '%'
fivestar_N_perc

'52.68504351751988%'